.jumbotron {
  background-color: #80ffff;
  text-align: center;
  color: #004b4d;
}

.document {
  margin-top: 10px;
  padding: 15px;
  margin-left: 300px;
  background-color: #d9d9d9;
}
.sidebar {
  float: left;
  width: 265px;
  height: 400px;
  background: #e5ffff;
  margin: 3px;
  padding: 20px;
  color: #00c7cc;
}

.sidebar h3 {
  color: black;
}

.sidebar p {
  color: #cc0066;
}
